<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    </div>
    -->
    <div class="container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><a href="https://youtu.be/4p7WZmM3Bk8"><img src="assets/img/slide1.jpg"></a></div>
          <div class="swiper-slide"><a href="https://youtu.be/BOqFRHCrN-k"><img src="assets/img/slide2.jpg"></a></div>
          <div class="swiper-slide"><a href="https://youtu.be/Obc6ecquoA0"><img src="assets/img/slide3.jpg"></a></div>
          <div class="swiper-slide"><a href="https://youtu.be/grxS6XTylX0"><img src="assets/img/slide4.jpg"></a></div>
          <div class="swiper-slide"><a href="https://youtu.be/fKuPDfWV3VI"><img src="assets/img/slide5.jpg"></a></div>
          <div class="swiper-slide"><a href="https://youtu.be/XyHr-s3MfCQ"><img src="assets/img/slide6.jpg"></a></div>
          <div class="swiper-slide"><a href="https://youtu.be/BNQMx5gy5Xg"><img src="assets/img/slide7.jpg"></a></div>
          <div class="swiper-slide"><a href="https://youtu.be/Ef1TBzqgLk4"><img src="assets/img/slide8.jpg"></a></div>
          <div class="swiper-slide"><a href="https://youtu.be/zmNRHgRG3lo"><img src="assets/img/slide9.jpg"></a></div>
        </div>
      
        <!-- navigation buttons
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
      
        <!-- scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->